<html>
  <head>
    <script type="text/javascript">
      function delayedRedirect(){
        window.location = <%= root_path %>
      }
    </script>
  </head>
  <body onload="setTimeout('delayedRedirect()', 3000)">
    <h2>You'll be redirected soon!</h2>
  </body>
</html>
