<div class="container">
  <%= render 'layouts/search' %>
  <% if @products.present? %>
    <div class="row">
      <%= render partial: 'products/product_row', collection: @products, as: :product %>
    </div>
  <% else %>
    <div class="alert alert-success" role="alert">
      <h3 class="text-center" style="font-family:"serif";">
        没有搜索到你要查询的信息，请<br>
        换个关键字试试吧！
      </h3>
    </div>
  <% end %>
</div>
