<div class="modal fade"
          id="dialog_cgry" tabindex="-1" role="dialog"
          aria-labelledby="myModalLabel"
          aria-hidden="true"
          data-backdrop="static"
          data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
                data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
          <i class='fa fa-plus-circle'></i>
          <label class="label label-default">添加分类</label>
        </h4>
      </div>

      <div class="modal-body">
        <div id="cgry-tree"></div>
        <div class="container">
          <div type="button" class="btn btn-danger btn-sm" id="cgry-tree-add">add</div>
          <div type="button" class="btn btn-danger btn-sm" id="cgry-tree-rmv">remove</div>
          <div type="button" class="btn btn-danger btn-sm" id="cgry-tree-rna">rename</div>
        </div>
  <ul class="sb-menu">
    <li><a href="/">全部商品</a></li>
    <% Category.where("parent='0'").each do |cg| %>
      <li>
        <a class="sb-toggle-submenu" href="#">
          <%= cg.name %>
          <span class="sb-caret"></span>
        </a>
        <ul class="sb-submenu" style="display: none">
          <% Category.where("parent=#{cg.id}").each do |scg| %>
            <li>
              <a class="sb-toggle-submenu" href="#">
                <%= scg.name %>
                <span class="sb-caret"></span>
              </a>
              <ul class="sb-submenu" style="display: none">
                <% Product.where("category_id=#{scg.id}").each do |product| %>
                  <li><%= link_to "#{product.name}", product_path(product) %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm">保存</button>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
