<tr>
  <td>
    <div class="checkbox">
      <label><input type="checkbox" value=""></label>
    </div>
  </td>
  <td>
    <a href="#"><%= image_tag(pro.thumb[0], size: "152x119") if pro.thumb? %></a>
  </td>
  <td>
    <%= pro.name %>
  </td>
  <td>
    <%= pro.price %>
  </td>
  <td>999</td>
  <td class="admin-edit">
    <%= link_to "编辑商品", edit_product_path(pro), class: "btn btn-success btn-sm" %>
  </td>
</tr>
