<tr>
  <td>
    <div class="checkbox">
      <label><input type="checkbox" value=""></label>
    </div>
  </td>
  <td>
    <a href="#"><%= image_tag (qiniu_admin_pro_thumb(pro)) %></a>
  </td>
  <td>
    <%= pro.name %>
  </td>
  <td>
    <%= pro.price %>
  </td>
  <td>999</td>
  <td>
    <button type="button" class="btn btn-danger btn-sm">编辑商品</button>
  </td>
</tr>
