<div class="page-header">
  <h3 style="font-weight:bold;">上传/管理商品</h3>
</div>

<%= form_for @product, html: { multipart: true } do |f| %>
<div class="container-fluid pro-create">
  <div class="sep">
    <span>选择分类:</span>
    <div class="form-group" style="display:inline-block; width:10%; min-width:80px;">
      <select class="form-control">
        <% @categories.each do |c| %>
          <option><%= c.name %></option>
        <% end %>
      </select>
    </div>
    <button type="button" class="btn btn-info btn-sm" id="with_cgry">管理分类</button>
  </div>
  <div class="sep">
    <span>商品标题:</span>
    <label>
      this is the product name
    </label>
  </div>
  <div class="sep">
    <span>商品型号:</span>
    <button type="button" class="btn btn-info btn-sm" id="with_type">添加多种商品型号</button>
  </div>
  <div class="sep">
    <span>商品价格:</span>
    <input value="9999">
    <label>元</label>
  </div>
  <div class="sep">
    <span>商品库存:</span>
    <input value="100">
    <label>件</label>
  </div>
  <div class="sep">
    <span>商品图片:</span>
      <%= f.file_field :thumb %>
    <div class="well">
      <button type="button" class="btn btn-info btn-sm">上传图片</button>
      <br />
      <img src="http://ogf4uc3pg.bkt.clouddn.com/X3750M4.jpg?imageMogr2/thumbnail/152x119!" alt="" class="img-rounded">
      <img src="http://ogf4uc3pg.bkt.clouddn.com/X3750M4.jpg?imageMogr2/thumbnail/152x119!" alt="" class="img-rounded">
      <img src="http://ogf4uc3pg.bkt.clouddn.com/X3750M4.jpg?imageMogr2/thumbnail/152x119!" alt="" class="img-rounded">
    </div>
  </div>
  <div class="sep">
    <span>商品描述:</span>
    <textarea id="detail-editor" placeholder="Balala" autofocus></textarea>
  </div>
  <div class="sep">
    <span>商品规格:</span>
    <div class="well container-fluid">
      <p>
        <button type="button" class="btn btn-info btn-sm">添加分类</button>
      </p>
      </p>
        <button type="button" class="btn btn-info btn-sm">机箱形态</button>
        <label>TinkServer TD350 8*2.5系列 4U塔式</label>
      </p>
      <p>
        <button type="button" class="btn btn-info btn-sm">处理器</button>
        <label>因特尔@至强@处理器E5-2609 v4 1.7GHz</label>
      </p>
    </div>
  </div>
  <div class="sep">
    <span>商品图片:</span>
    <div class="well">
      <button type="button" class="btn btn-info btn-sm">上传图片</button>
      <br />
      <img src="http://ogf4uc3pg.bkt.clouddn.com/X3750M4.jpg?imageMogr2/thumbnail/152x119!" alt="" class="img-rounded">
      <img src="http://ogf4uc3pg.bkt.clouddn.com/X3750M4.jpg?imageMogr2/thumbnail/152x119!" alt="" class="img-rounded">
      <img src="http://ogf4uc3pg.bkt.clouddn.com/X3750M4.jpg?imageMogr2/thumbnail/152x119!" alt="" class="img-rounded">
    </div>
  </div>
  <div>

  <div style="padding-bottom:80px; padding-top:80px;">
    <button type="button" class="btn btn-info btn-sm" style="float:right;">取消</button>
    <button type="button" class="btn btn-info btn-sm" style="float:right;">保存</button>
  </div>

</div>
<% end %>


<script>
  editor = new Simditor({
    textarea: $('#detail-editor'),
    toolbar: [
        'title','bold','italic','underline','strikethrough','color','|',
        'ol','ul','blockquote','code','table','link','image','hr','|',
        'indent','outdent'
      ],
    pasteImage: true,
    defaultImage: '<%= image_path "upload-loading.png" %>'
  });
</script>
