<% if @product.errors.any? %>
  <div>
    <div class="alert alert-danger">
      表单有 <%= pluralize(@product.errors.count, "错误") %>.
    </div>
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
