<div class="col-lg-9 col-md-9">
  <div class="alert alert-success" role="alert">
    <h2 class="title">购物车</h2>
  </div>
  <table class="items-list">
    <tbody>
      <tr>
        <th>&nbsp;</th>
        <th class="to-title">名称/总价/数量/型号</th>
      </tr>
      <tr />
      <% @order_items.each do |oi| %>
        <%= render "carts/order_item", oi: oi %>
      <% end %>
    </tbody>
  </table>
</div> <!-- container/row/col -->
<div id="cart_total_info" class="col-lg-3 col-md-3">
  <%= render 'carts/cart_total' %>
</div>
