<div class="col-lg-9 col-md-9">
  <div class="alert alert-success" role="alert">
    <h2 class="title">购物车</h2>
  </div>
  <table class="items-list">
    <tbody>
      <tr>
        <th>&nbsp;</th>
        <th>名称</th>
        <th>单价</th>
        <th>数量</th>
        <th>总价</th>
      </tr>
      <% @order_items.each do |oi| %>
        <%= render "carts/order_item", oi: oi %>
      <% end %>
    </tbody>
  </table>
</div> <!-- container/row/col -->
<div id="cart_total_info" class="col-lg-3 col-md-3">
  <%= render 'carts/cart_total' %>
</div>
