<section class="shopping-cart">
  <div class="container">
    <div class="row">
      <% if @order_items.size == 0 %>
        <div class="alert alert-danger">
          <p class="text-center">
            您的购物车为空<br>
            请回到<%= link_to "首页", root_path, style: "color:green;" %>添加商品.
          </p>
        </div>
      <% else %>
        <%= render 'carts/cart_info' %>
      <% end %>
    </div> <!-- container/row -->
  </div> <!-- container -->
</section>
