<div class="container-fluid">
  <div class="col-md-6 col-xs-6 col-lg-6">
    <a href="#" class="sel-info thumbnail">
      <div class="col-md-12">
        <%= image_tag("1.png", size: "200x150") %>
      </div>
    </a>
  </div>
  <div class="col-md-6 col-xs-6 col-lg-6">
      <div class="col-md-12 sel-msg">
        <div class="key">
          <span id="product_name" class="label label-info"></span>
        </div>
        <div class="value">
          <span id="product_price" class="label label-info"></span>
        </div>
      </div>
  </div>
</div>

<!-- product type select -->
<div class="container-fluid alert alert-success" role="alert">
  <div class="mylabel label-secondary">
    选择型号
  </div>

  <div>
    <% @skus.each do |sku| %>
        <input type="radio" name="radio" data-labelauty=<%= sku.product_type %> value=<%= sku.product_type %> >
    <% end %>
  </div>

  <script>
    $(document).ready(function(){
      $(":radio").labelauty();
    });
  </script>


<!-- product count -->
<div>
  <div class="mylabel label-secondary">
    选择数量
  </div>
  <div style="widht:40%;display:inline-block;">
    <table>
      <tr>
        <td>
          <input id="count_min" name="" type="button" value="-" />
          <input id="count_text_box" name="" type="text" value="1" style="width:30px;" />
          <input id="count_add" name="" type="button" value="+" />
        </td>
      </tr>
    </table>
  </div>

</div>

<!-- add to cart -->
<div>
  <button id="addtocart2" class="btn btn-info" style="float:right">加入购物车</button>
</div>
