<div class="container-fluid">
  <div class="col-md-6 col-xs-6 col-lg-6">
    <a href="#" class="sel-info thumbnail">
      <div class="col-md-12">
        <%= image_tag("1.png", size: "200x150") %>
      </div>
    </a>
  </div>
  <div class="col-md-6 col-xs-6 col-lg-6">
      <div class="col-md-12 sel-msg">
        <div class="key">
          <span id="product_name" class="label label-info"></span>
        </div>
        <div class="value">
          <span id="product_price" class="label label-info"></span>
        </div>
      </div>
  </div>
</div>

<!-- product type select -->
<div class="container-fluid alert alert-success" role="alert">
  <div class="mylabel label-secondary">
    选择型号
  </div>

  <div class="btn-group" data-toggle="buttons">
    <% @skus.each do |sku| %>
      <label class="btn btn-primary">
        <input type="radio" name="options" id="selected_type" autocomplete="off"> 
          <%= sku.product_type %>
      </label>
    <% end %>
  </div>


<!-- product count -->
<div>
  <div class="mylabel label-secondary">
    选择数量
  </div>
  <div style="widht:40%;display:inline-block;">
    <table>
      <tr>
        <td>
          <input id="count_min" name="" type="button" value="-" />
          <input id="count_text_box" name="" type="text" value="1" style="width:30px;" />
          <input id="count_add" name="" type="button" value="+" />
        </td>
      </tr>
    </table>
  </div>

</div>

<!-- add to cart -->
<div>
  <button id="addtocart2" class="btn btn-info">addtocart</button>
  <%= button_to "加入购物车", order_items_path(@order_item), id: "addtocart", class: "btn btn-info", style: "float:right;" %>
</div>

<script>
$(document).ready(function() {
  var t = $("#count_text_box");
  $('#count_min').attr('disabled', true);
  $('#count_add').click(function(){
    t.val(parseInt(t.val()) + 1);
    if (parseInt(t.val()) != 1){
      $('#count_min').attr('disabled', false);
    }
  });
  $('#count_min').click(function(){
    t.val(parseInt(t.val()) - 1);
    if (parseInt(t.val()) == 1){
      $('#count_min').attr('disabled', true);
    }
  });
});
</script>

<script>
// Ajax send data
$(document).on("turbolinks:load", function(){
// Ajax send data
$("#addtocart").click(function(e){
  alert("haha");
  e.preventDefault();
  typ = $("#selected_type").val()
  qua = $("#count_text_box").val()

  data = {product_type => typ, quantity => qua};
  url = order_items/create;

  $.ajax({
    url: url,
    data: data,
    dataType: "json",
    cache: false,
    type: "post",
    success: function(data){
      console.log(data);
    }
  });
});
});
</script>

</div>
