<div class="container-fluid sel">
<div class="container-fluid sel-thumbnail">
  <div class="sel-left">
    <a href="#" class="thumbnail">
    <%= image_tag(qiniu_image_url(@product.image_url, :sel)) %>
    </a>
  </div>
  <div class="sel-right">
    <div class="sel-msg">
        <div id="product_name" class="key"></div>
        <div id="product_price" class="value"></div>
    </div>
  </div>
</div>

<!-- product type select -->
<div class="container-fluid sel-type">
  <div class="title">
  <p class="mylabel label-secondary">
    选择型号
  </p>
  </div>

  <div class="type">
    <div class="container-fluid">
    <div class="row">
    <% @skus.each do |sku| %>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <input type="radio" data-labelauty=<%= sku.product_type%> name="radio" class="labelauty" style="display: none;" value=<%= sku.product_type %> >
      </div>
    <% end %>
    </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
      $(":radio").labelauty();
    });
  </script>
</div>


<!-- product count -->
<div class="container-fluid sel-type" style="margin-top: 20px;">
  <div class="title">
    <p class="mylabel label-secondary">选择数量</p>
  </div>
  <div class="type">
    <div class="qnt-count">
      <a id="count_min" class="incr-btn" href="#">-</a>
      <input id="count_text_box" name="" type="text" value="1" class="form-control" />
      <a id="count_add" class="incr-btn" href="#">+</a>
    </div>
  </div>

</div>

<!-- add to cart -->
<div class="sel-adc">
  <button id="addtocart2" class="btn btn-primary btn-sm" style="float:right">
    <i class="fa fa-cart-plus" aria-hidden="true"></i>加入购物车
  </button>
  <br>
</div>

</div>
