@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:     border-box;
  -webkit-box-sizing:  border-box;
  box-sizing:          border-box;
}

/* vertical space */
.VerticalSpace {
  height:10px;
  border: 0px;
  float: left;
}

.HorizontalSpace {
  width: 1%;
  border: 0px;
  float: left;
}

/* universal */

body {
  background: #e9eaed;
  color: $black;
  font-family: Helvetica, Arial,"PingFang SC","Hiragino Sans GB","Source Han Sans CN",Roboto,"Heiti SC","Microsoft Yahei",sans-serif;
  padding-top: 65px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* siderbar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* forms */

#error_explanation {
  color: red;
  ul {
  color: red;
  margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* forms */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}


#session remember me {
  width: auto;
  margin-left: 0;
}

/* font */

.text-light {
  text-shadow:2px 2px 3px rgba(255,255,255,0.1);
  color: rgba(0,0,0,0.6);
  font-size: small;
}

/* carousel size control */
.helperCarouselImg img {
  width: 100px;
  height: 140px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.div-inline { display: inline }

.header {
  .navbar {
    background-color: #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0,.11);
    margin-bottom: 15px;
    border: 0px;
    color: $blueText;
    z-index: 1030;
  }

  .navbar-brand {
    color: #666 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-left: 0 !important;
    b { color: $red; }
  }
  .navbar-default .navbar-brand,
  .navbar-default .navbar-nav>li>a  { color: #333; border-bottom: 3px solid #FFF; padding-bottom: 12px; }
  .navbar-default .navbar-nav>li>a:active { background-color: $grayDark; border-bottom-color: #999; }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider { color: #999 !important; }
  .navbar-inverse .navbar-nav .open .dropdown-menu li.active a { border-bottom: 0px; color: $red; }
  .navbar-inverse .navbar-toggle { color: #333; padding: 3px 9px; font-size: 18px; border:1px solid rgba(255,255,255,0.1); background-color: rgba(255,255,255,0.05); }
  .navbar-inverse .navbar-toggle:focus { background-color: rgba(255,255,255,0.05);}
  .navbar-inverse .navbar-toggle:hover { background-color: rgba(255,255,255,0.1); }
  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form { border-color: $blueText; }
  nav.navbar-collapse.bs-navbar-collapse { border-color: rgba(255,255,255,0.3); }
  .navbar-inverse .navbar-nav>.open>a,
  .navbar-inverse .navbar-nav>.open>a:focus,
  .navbar-inverse .navbar-nav>.open>a:hover { background: $grayDark; color: #333; }
  .navbar-inverse .navbar-nav .open .dropdown-menu { position: absolute; left: auto; right: 0; background: #FFF; }
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a { color: #333; }
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover { background-color: rgba(255,255,255,0.05); }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider { background-color: #F0F0F0; }
  .navbar-nav {
    li.active a,
    li.active a:focus,
    li.active a:hover { color: $red; background: transparent; }
  }

  #main-nav-menu {
    .navbar-nav {
      margin: 0px;
      a { color: #333; transition: all .2s ease-in-out; }
      li a:hover,
      li.active a,
      li.active a:focus,
      li.active a:hover { border-bottom:3px solid $red; color: $red; background: transparent; padding-bottom: 12px;}
    }
  }

  .user-bar {
    li > a { padding-left: 11px !important; padding-right: 11px !important; }
    .dropdown-avatar {
      margin-right: 6px;
      .dropdown-toggle { padding-top: 14px !important; padding-bottom: 9px !important;}
    }
    .navbar-toggle { display: none;  margin: 0; padding: 6px 9px; }

    .avatar-32 { display: inline-block; width: 24px; height: 24px; }
  }

  @media (max-width: 767px) {
    .navbar-header {
      text-align: center;
      padding: 0;
      margin-bottom: -41px;
      .navbar-brand {
        font-size: 12px; float: none; margin: 0 auto;
        line-height: 46px;
      }
    }
    .navbar-nav { float: left; margin: 0px; }
    .navbar-nav>li { float: left; }
    .navbar-nav.navbar-right { float:right; }
    .user-bar {
      .dropdown-toggle { display: none; }
      .navbar-toggle { display: block; border-radius: 0px; }
      .dropdown.open .navbar-toggle { background-color: $grayDark; }
    }
  }

  .form-search {
    font-size: 14px;
    position: relative;
    margin-top: 13px;
    margin-right: 10px;

    .fa {
      color: #333;
      &:hover { color: #666; }
    }

    .fa-search{
      cursor: pointer;
      position: absolute;
      top: 6px;
      right: 0;
      transition: all .3s;
    }
    .btn-close {
      position: absolute;
      top: 6px;
      right: 0px;
      /*display: none;*/
      cursor: pointer;
      -webkit-transform: scale(0,0);
      -moz-transform: scale(0,0);
      transform: scale(0,0);
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
    }
    .form-control {
      font-size: 12px;
      border:none;
      width: 0px;
      height: 100%;
      padding:6px 1px 4px 1px;
      margin-left: 4px;
      background: transparent;
      transition: all .3s;
      box-sizing: border-box;
      color: #333;
      &::-webkit-input-placeholder {
        color: #ddd;
      }
    }
    &.active {
      .form-control {
        width: 150px !important;
        cursor: text;
      }
      .fa-search { left: 0; right: auto; }
      .btn-close {
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        transform: scale(1,1);
      }
    }

  }
}

/* form search */
.form-search {
  font-size: 14px;
  position: relative;
  margin-top: 13px;
  margin-right: 10px;

  .fa {
    color: #333;
    &:hover { color: #666; }
  }

  .fa-search{
    cursor: pointer;
    position: absolute;
    top: 6px;
    right: 0;
    transition: all .3s;
  }
  .btn-close {
    position: absolute;
    top: 6px;
    right: 0px;
    /*display: none;*/
    cursor: pointer;
    -webkit-transform: scale(0,0);
    -moz-transform: scale(0,0);
    transform: scale(0,0);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }
  .form-control {
    font-size: 12px;
    border:none;
    width: 0px;
    height: 100%;
    padding:6px 1px 4px 1px;
    margin-left: 4px;
    background: transparent;
    transition: all .3s;
    box-sizing: border-box;
    color: #333;
    &::-webkit-input-placeholder {
      color: #ddd;
    }
  }
  &.active {
    .form-control {
      width: 150px !important;
      cursor: text;
    }
    .fa-search { left: 0; right: auto; }
    .btn-close {
      -webkit-transform: scale(1,1);
      -moz-transform: scale(1,1);
      transform: scale(1,1);
    }
  }

}
