.container-fluid .sel {
  padding-left: 10px;
}

.container-fluid .sel-thumbnail {
  margin-bottom: 20px;
  padding-left: 0;
  .sel-left {
    width: 50%;
    height: 100%;
    float: left;
  }
  .sel-right {
    width: 50%;
    height: 100%;
    float: right;
  }
}

.sel-msg {
  width: 100%;
  height: 100%;
  .key {
    width: 100%;
    height: 50%;
    padding: 10px 0 10px 10px;
    vertical-align: center;
    text-align: center;
  }
  .value {
    width: 100%;
    height: 50%;
    color: orange;
    padding: 10px 0 10px 10px;
    vertical-align: center;
    text-align: center;
  }
}

// content of detail select
.container-fluid .sel-type {
  padding-left: 0;
  .title {
    width: 20%;
    float: left;
  }
  .type {
    width: 80%;
    float: right;
  }
}

.container-fluid .sel-adc {
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

// content of detail page
.mylabel {
  width: 60px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  padding: 6px 8px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 400;
  color: #FFF
}

.mylabel.label-primary {
  background-color: #2196F3;
}

.mylabel.label-secondary {
  background-color: #323a45;
  color: #FFF;
}

ul .rtype {
}

ul .rtype li {
  display: inline-block;
}

// add delelte button in select page of product detail
.sel-type .type .qnt-count {
  display: inline-block;
  vertical-align: middle;
  padding-left: 40px;
}
.sel-type .type .qnt-count .incr-btn {
  display: inline-block;
  width: 20px;
  height: 38px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #2ba8db;
  color: #fff;
  text-align: center;
  font-size: 1.375em;
  line-height: 34px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.sel-type .type .qnt-count .incr-btn:hover {
  background: #1f89b4;
  text-decoration: none;
}
.sel-type .type .qnt-count .form-control {
  display: inline-block;
  width: 36px;
  height: 38px;
  margin: 0 2px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}
