// Place all the styles related to the SitesAdmin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-nav {
  background: #f8f8f8;
}

.admin-line {
  border-bottom: 1px solid #333333;
  height: 1px;
  margin: 10px 0 10px 0;
}

.admin-items {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 24px;
}

.admin-items td.admin-edit {
  padding: 0;
}
@media screen and (max-width: 374px) {
  .admin-item td.admin-edit {
    display: none;
  }
}
