<table class="table table-hover">
  <thead>
    <tr>
      <th>分类内容</th>
      <th>分类级别</th>
      <th>上级分类</th>
      <th>分类处理</th>
    </tr>
  </thead>
  <tbody>
    <% if @categories.present? %>
      <%= render partial: 'category_item', collection: @categories, as: :category %>
    <% end %>
  </tbody>
<table>

<p class="bg-danger">This is a test.</p>
<table></table>
