.col-md-2

.col-md-8
  .panel.panel-primary
    .panel-heading= "分类管理"
    .pabel-body
      %p= link_to "添加分类", new_category_path, class: "btn btn-danger btn-sm"

      %ol.sortable_tree.expandable{ data: { max_levels: 3, rebuild_url: rebuild_categories_url, expand_node_url: expand_node_categories_url, cookies_store: :true, cookie_scope: @categories.first.class } }
        = expandable_tree @categories

.col-md-2
