<div class="container">
  <div style="width:40%;height:150px;float:left;">
    <%= image_tag("1.png", size: "100x150")%>
  </div>
  <div class="row" style="width:60%;height:150px;float:right;">
    <div style="width:75%;height:50%;">
      <h4>
        <span class="label label-info">商品名称:</span>
        <%= @product.name %>
      </h4>
    </div>
    <div style="width:75%;height:50%;">
      <h4>
        <span class="label label-info">商品价格:</span>
        <%= number_to_currency @product.price %>
      </h4>
    </div>
  </div>
</div>
</br>
<div class="container-fluid alert alert-success" role="alert">
  <div style="width:20%;float:left;">
    <h4><span class="label label-default">选择型号:</span></h4>
  </div>
  <div class="btn-group" data-toggle="buttons" style="width:80%;float:left;">
    <% @skus.each do |sku| %>
      <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off">
          <%= sku.product_type %>
        </input>
      </label>
      <div class="HorizontalSpace"></div>
    <% end %>
  </div>
</div>
<!-- product count -->
<div class="container-fluid alert alert-info" role="alert">
  <div style="width:20%;float:left;">
    <h4><span class="label label-default">选择数量:</span></h4>
  </div>
  <div style="widht:40%;float:left;">
    <table style="text-align:center;">
      <tr>
        <td>
          <input id="min" name="" type="button" value="-" />
          <input id="text_box" name="" type="text" value="1" style="width:30px;" />
          <input id="add" name="" type="button" value="+" />
        </td>
      </tr>
    </table>
  </div>
</div>
