<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-phone">
  <div class="product-card mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title" style="background: url('<%= image_url(product.image_url) %>') center / cover;">
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <span><%= product.name %></span>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <span><%= product.price %></span>
      <div class="mdl-layout-spacer"></div>
      <span class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">add_shopping_cart</i>
      </span>
    </div>
  </div>
</div>
