<div class="col-xs-6 col-md-3">
  <div class="card">
    <%= image_tag(product.image_url, class: 'image-wrapper') %>
    <div class="card name">
      <h4><%= product.name %></h4>
    </div>
    <div class="card name">
      <h4><%= number_to_currency product.price %></h4>
    </div>
    <button class="btn btn-info cbutton">
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    </button>
  </div>
</div>
