<div class="well well-sm">

  <div class="row">
    <div style="position:relative; top: 5px; left:20px;">
      <td>
        <%= image_tag(product.image_url, class: 'list_image', size: "100x140") %>
      </td>
      <h4><%= product.name %></small></h4>
    </div>

    <div style="position:relative; left:20px;">
      <div display:inline class="col-xs-1">
        <h4 class="text-left"> <span style-"color: green"><%= number_to_currency product.price %></span></h4>
      </div>
      <div class="col-xs-9" display:inline style="text-align:right">
        <%= button_to product_path(product.id), :class => 'btn btn-large btn-primary', :method => :get do %>
          <span class="glyphicon glyphicon-shopping-cart"></span>
        <% end %>
      </div>
    </div>

  </div>

</div>
