<div class="container">
  <div class="row">
    <%= render partial: 'product_row', collection: @products, as: :product %>
  </div>
</div>

<div class="kaminari">
  <%= paginate @products, :window => 2 %>
</div>
