<%= form_tag "/search", method: "get", class: "search-form" do %>
  <div class="mdl-textfield mdl-js-textfield">
    <%= text_field_tag :search, params[:search], class: "mdl-textfield__input", id: 'search_input' %>
    <label class="mdl-textfield__label" for="search_input">输入搜索关键字 …</label>
  </div>
<% end %>

<div class="mdl-grid">
  <%= render partial: 'products/product_cell', collection: @products, as: :product %>
</div>

<div style="text-align: center">
  <%= paginate @products, :window => 2 %>
</div>
