<nav canvas class>
  <div mhtn="container-fluid">
    <div mhtn="row">
      <div mhtn="col xs-100">
        <div class="float-left">
          <span class="button js-toggle-main-menu">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span class="text"></span>
          </span>
        </div>
        <div class="float-right">
          <span class="button js-toggle-help-menu">
            <a href="/admin"></a><i class="fa fa-user" aria-hidden="true"></i></a>
            <span class="text"></span>
          </span>
        </div>
        <a href="/">存储互联</a>
      </div>
    </div>
  </div>
</nav>
