<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">存储互联</span>
    <div class="mdl-layout-spacer"></div>
    <%= link_to '#user', class: 'mdl-button mdl-js-button mdl-button--icon' do %>
      <i class="material-icons">account_circle</i>
    <% end %>
  </div>
</header>

<div class="mdl-layout__drawer">
	<span class="mdl-layout-title">联想存储优品汇</span>
		<nav class="mdl-navigation">
		  <% Category.find_each do |category| %>
		   	<%= link_to category.name, '#', class: 'mdl-navigation__link' %>
		  <% end %>
		</nav>
</div>
