<!-- search form -->
<div class="pl-search">
     <%= form_tag("/search", method: "get", class: "search-form", style: "align-content:center;") do %>
       <div class="form-group">
         <%= text_field_tag :search, params[:search],
           class: "form-control input-sm search-form", placeholder: "搜索商品" %>
       </div>
       <i class="sfa sfa-search"></i>
     <% end %>
</div>
