<div class="sb-slidebar sb-left">
  <ul class="sb-menu">
    <% Category.where("parent='0'").each do |cg| %>
      <li>
        <a class="sb-toggle-submenu" href="#">
          <%= cg.name %>
          <span class="sb-caret"></span>
        </a>
        <ul class="sb-submenu" style="display: none">
          <% Category.where("parent=#{cg.id}").each do |scg| %>
            <li>
              <a class="sb-toggle-submenu" href="#">
                <%= scg.name %>
                <span class="sb-caret"></span>
              </a>
              <ul class="sb-submenu" style="display: none">
                <% Product.where("category_id=#{scg.id}").each do |product| %>
                  <li><a href="#"><%= product.name %></a></li>
                  <li><%= link_to "#{product.name}", product_path(product) %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <li><a href="#">Menu Item 1</a></li>
    <li><a href="#">Menu Item 2</a></li>
    <li><a href="#">Menu Item 3</a></li>
    <li>
      <a class="sb-toggle-submenu" href="#">
        Second Level Submenu
        <span class="sb-caret"></span>
      </a>
      <ul class="sb-submenu" style="display: none">
        <li><a href="#">2 Menu Item 1</a></li>
        <li><a href="#">2 Menu Item 2</a></li>
        <li>
          <a class="sb-toggle-submenu" href="#">
            Third Level Submenu
            <span class="sb-caret"></span>
          </a>
          <ul class="sb-submenu" style="display: none">
            <li><a href="#">3 Menu Item 1</a></li>
            <li><a href="#">3 Menu Item 2</a></li>
            <li><a href="#">3 Menu Item 3</a></li>
            <li><a href="#">3 Menu Item 4</a></li>
            <li><a href="#">3 Menu Item 5</a></li>
          </ul>
        </li>
        <li><a href="#">2 Menu Item 3</a></li>
        <li><a href="#">2 Menu Item 4</a></li>
      </ul>
    </li>
    <li><a href="#">Menu Item 5</a></li>
    <li><a href="#">Menu Item 6</a></li>
  </ul>
</div>
